WebContent/wsdl/WebServiceProveedor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:tns1="http://orm.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://orm.org"/>
   <element name="busquedaAvanzadaCont">
    <complexType>
     <sequence>
      <element name="run" type="xsd:string"/>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
      <element name="pais" type="xsd:string"/>
      <element name="region" type="xsd:string"/>
      <element name="ciudad" type="xsd:string"/>
      <element name="direccion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaAvanzadaContResponse">
    <complexType>
     <sequence>
      <element name="busquedaAvanzadaContReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:PersistentException"/>
   <element name="busquedaSimpleCont">
    <complexType>
     <sequence>
      <element name="busqueda" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaSimpleContResponse">
    <complexType>
     <sequence>
      <element name="busquedaSimpleContReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://orm.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PersistentException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="busquedaSimpleContRequest">

      <wsdl:part element="impl:busquedaSimpleCont" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaAvanzadaContRequest">

      <wsdl:part element="impl:busquedaAvanzadaCont" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PersistentException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaSimpleContResponse">

      <wsdl:part element="impl:busquedaSimpleContResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaAvanzadaContResponse">

      <wsdl:part element="impl:busquedaAvanzadaContResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceProveedor">

      <wsdl:operation name="busquedaAvanzadaCont">

         <wsdl:input message="impl:busquedaAvanzadaContRequest" name="busquedaAvanzadaContRequest">

       </wsdl:input>

         <wsdl:output message="impl:busquedaAvanzadaContResponse" name="busquedaAvanzadaContResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="busquedaSimpleCont">

         <wsdl:input message="impl:busquedaSimpleContRequest" name="busquedaSimpleContRequest">

       </wsdl:input>

         <wsdl:output message="impl:busquedaSimpleContResponse" name="busquedaSimpleContResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceProveedorSoapBinding" type="impl:WebServiceProveedor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="busquedaAvanzadaCont">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="busquedaAvanzadaContRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="busquedaAvanzadaContResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="busquedaSimpleCont">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="busquedaSimpleContRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="busquedaSimpleContResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceProveedorService">

      <wsdl:port binding="impl:WebServiceProveedorSoapBinding" name="WebServiceProveedor">

         <wsdlsoap:address location="http://localhost:8080/TallerJSP/services/WebServiceProveedor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
